recaptcha.framework filter=lfs diff=lfs merge=lfs -text
*.DS_Store filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-arm64/GTMSessionFetcher.framework/GTMSessionFetcher filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.modulemap filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/GTMSessionFetcher filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/_CodeSignature/CodeRequirements filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/Dependencies/GTMSessionFetcher.xcframework/ios-x86_64-simulator/GTMSessionFetcher.framework/_CodeSignature/CodeSignature filter=lfs diff=lfs merge=lfs -text
/Dependencies/GoogleToolboxForMac.xcframework/ios-arm64/GoogleToolboxForMac.framework/GoogleToolboxForMac filter=lfs diff=lfs merge=lfs -text
/Dependencies/GoogleToolboxForMac.xcframework/ios-x86_64-simulator/GoogleToolboxForMac.framework/GoogleToolboxForMac filter=lfs diff=lfs merge=lfs -text
/Dependencies/GoogleToolboxForMac.xcframework/ios-x86_64-simulator/GoogleToolboxForMac.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/Dependencies/GoogleToolboxForMac.xcframework/ios-x86_64-simulator/GoogleToolboxForMac.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/Dependencies/GoogleToolboxForMac.xcframework/ios-x86_64-simulator/GoogleToolboxForMac.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.swiftsourceinfo filter=lfs diff=lfs merge=lfs -text
*.swiftdoc filter=lfs diff=lfs merge=lfs -text
*.swiftinterface filter=lfs diff=lfs merge=lfs -text
/Dependencies/Promises.xcframework/ios-arm64/Promises.framework/Promises filter=lfs diff=lfs merge=lfs -text
/Dependencies/Promises.xcframework/ios-x86_64-simulator/Promises.framework/Promises filter=lfs diff=lfs merge=lfs -text
/Dependencies/Promises.xcframework/ios-x86_64-simulator/Promises.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/Dependencies/Promises.xcframework/ios-x86_64-simulator/Promises.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/Dependencies/Promises.xcframework/ios-x86_64-simulator/Promises.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/Dependencies/Protobuf.xcframework/ios-arm64/Protobuf.framework/Protobuf filter=lfs diff=lfs merge=lfs -text
/Dependencies/Protobuf.xcframework/ios-x86_64-simulator/Protobuf.framework/Protobuf filter=lfs diff=lfs merge=lfs -text
/Dependencies/Protobuf.xcframework/ios-x86_64-simulator/Protobuf.framework/_CodeSignature/CodeDirectory filter=lfs diff=lfs merge=lfs -text
/Dependencies/Protobuf.xcframework/ios-x86_64-simulator/Protobuf.framework/_CodeSignature/CodeRequirements-1 filter=lfs diff=lfs merge=lfs -text
/Dependencies/Protobuf.xcframework/ios-x86_64-simulator/Protobuf.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/recaptcha.framework/recaptcha filter=lfs diff=lfs merge=lfs -text
